<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVT Application</title>
</head>
<h2>Please Login</h2>

<form method="post" action="">
    <table>
        <tr>
            <td>Enter your phone:</td>
            <td><input type="text" name="phoneNumber"/>{{ phoneNumber }}</td>
        </tr>
        <tr>
            <td>Enter your password:</td>
            <td><input type="password" name="password"/>{{ password }}</td>
        </tr>
        <tr>
            <td>
 
            </td>
            <td>
                <button>log in</button>
            </td>
        </tr>        
    </table>
</form>
</body>
</html>