<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVT Application</title>
</head>
<h2>Please SignUp</h2>

<form method="post" action="">
    <table>
        <tr>
            <td>Enter your Name:</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>Enter your e-mail id:</td>
            <td><input type="text" name="emailId"/></td>
        </tr>
        <tr>
            <td>Enter your Phone Number:</td>
            <td><input type="text" name="phoneNumber"/></td>
        </tr>
        <tr>
            <td>Enter your password:</td>
            <td><input type="password" name="password"/></td>
            <td>Password must contain at least 8 letters</td> 
        </tr>
        <tr>
            <td>
 
            </td>
            <td>
                <button>Sign Up</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>